*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
   
    
    }
  /*NAVBAR*/
  
  
        .navbar-brand {
          font-size: 40px;
          padding-left:  5%;
         
         
          font-family: 'Courier New', Courier, monospace;
          font-weight: 900;
      
  
        }
        
        #navbar-header ul li .nav-link{
          
          font-size: 23px;
        color: white;
        
  
          
        }
     
        #navbar-header ul li .nav-link:hover {
       
               font-size: 1.8em;
               color: rgb(247, 141, 247);
           }
           
  
         /*END OF NAVBAR*/
  
  
  
  
           /*ABOUT ME*/
          
           #about-aboutme .about-me-title{
             color: rgb(134, 4, 134);
             padding-top: 10%;
             font-weight: bolder;
             font-style: italic;
             font-family: Verdana, Geneva, Tahoma, sans-serif;
           }
           #about-aboutme .aboutme-text{
             color: rgb(43, 78, 3);
             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-right: 0;
           }
         
           /*END OF ABOUT ME*/
  
  
  
  /*PROJECYS SECTION*/
  
  /*Projects*/
  
  #projects {
    background-color: rgb(196, 189, 192);
    padding-top: 3%;
   
    
  }
  #projects .col .Projects-title {
    color: rgb(231, 28, 231);
    padding-top: 10%;
    font-weight: bolder;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    
  
    
  }
  
  #projects .container .row  {
  
    margin-top: 1rem;
    position: relative;
  }
  #projects .container .row .card{
    margin-bottom: 5%;
  }
  
  
  
  #projects .container .row .card-img-top{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  }
  
  #projects .container .row .card .card-text{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
  }
  #projects .container .row .card:hover img{
    opacity: 0.3;
  }
  #projects .container .row .card:hover .card-text{
    opacity: 1;
  }
  
  
            #projects .container .row .card .card-text .project-name1{
            background-color: rgb(175, 79, 76);
            color: white;
            font-size: 50px;
            padding: 16px 32px;
            }
            #projects .container .row .card .card-text .project-name2{
            background-color: rgb(175, 168, 76);
            color: white;
            font-size: 50px;
            padding: 16px 32px;
            }
            #projects .container .row .card .card-text .project-name3{
            background-color: rgb(76, 175, 101);
            color: white;
            font-size: 50px;
            padding: 16px 32px;
            }
            #projects .container .row .card .card-text .project-name4{
            background-color: rgb(76, 160, 175);
            color: white;
            font-size: 50px;
            padding: 16px 32px;
            }
            #projects .container .row .card .card-text .project-name5{
            background-color: rgb(76, 91, 175);
            color: white;
            font-size: 50px;
            padding: 16px 32px;
            }
            #projects .container .row .card .card-text .project-name6{
            background-color: rgb(152, 76, 175);
            color: white;
            font-size: 50px;
            padding: 16px 32px;
            }
            #projects .container .row .card .card-text .project-name7{
            background-color: rgb(76, 107, 175);
            color: white;
            font-size: 50px;
            padding: 16px 32px;
            }
            #projects .container .row .card .card-text .project-name8{
            background-color: rgb(175, 76, 76);
            color: white;
            font-size: 50px;
            padding: 16px 32px;
            }
  /*END Projects*/
  
  /*END OF PROJECTS SECTION*/
  
  
  
  
  
  
          
  
  /*SKILLS*/
          
    
  
                #skills-section .skills-title h2{
                color: rgb(233, 35, 233);
              
              
                font-size: 3em;
            
                font-weight:bolder;
                font-style: italic;
                font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
            
                    }
  
  
                #skills-section .row {
                  
                  padding-top: 2%;
                  padding-left: 15%;
                
                      }
                      
  
                .labels {
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 5px;
                  margin-left: 5%;
                  margin-top: 2%;
                  margin-right: 4%;
                  
                }
  
                .progress {
                  height: 5px;
                  margin-left: 5%;
                  margin-right: 4%;
                  
                }
  
                .progress-bar {
                background: -webkit-linear-gradient(left, #33156d 0%,#f282bc 100%);
                }
  
  /*CONTACT ME SECTION*/
  #contactme-section{
    background-color: rgb(226, 226, 213);
    margin-top: 3%;
  }
  
  #contactme-id{
    color: rgb(167, 6, 167);   
      font-size: 3em;
      font-weight:bolder;
      font-family: 'Times New Roman', Times, serif;
      
      
  }
  
  #social-contact {
    background-color: rgb(10, 104, 133);
    border: solid 1px green;
    border-radius: 1rem;
    
    padding: 8% 0;
  
  
        }
        
  
        #social-contact  .form-control{
          font-size: 22px;
        }
        
  
        
  
  
  .contact-icons{
    color: rgb(6, 60, 126);
  }
  article p {
    color :rgb(9, 7, 128);
  }
  
  #send {
    width: 20% !important;
    align-content: center;
    text-align: center;
    margin-bottom: 1%;
  }
  
  /*END OF CONTACT ME SECTION*/
  
  
              
              
            
  
                  
                  
                    #footer-area button {
                      color: rgb(214, 190, 236);
                      background-color: rgb(32, 87, 206);
                      
                    }